<div>
  <h2 id="page-heading" data-cy="SubmissionHeading">
    <span jhiTranslate="myApp.submission.home.title">Submissions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="myApp.submission.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-submission"
        [routerLink]="['/submission/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myApp.submission.home.createLabel">Create a new Submission</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (submissions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="myApp.submission.home.notFound">No Submissions found</span>
    </div>
  }

  @if (submissions && submissions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="afm">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.afm">Afm</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adt">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.adt">Adt</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fatherName">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.fatherName">Father Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="acquisitionDate">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.acquisitionDate">Acquisition Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lossDate">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.lossDate">Loss Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="organizationUnit">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.organizationUnit">Organization Unit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="newOrganizationUnit">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.newOrganizationUnit">New Organization Unit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="protocolNumber">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.protocolNumber">Protocol Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="decisionDate">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.decisionDate">Decision Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="previousSubmission">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.previousSubmission">Previous Submission</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="position.name">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.position">Position</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grade.name">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.grade">Grade</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="committeeName.name">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.committeeName">Committee Name</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="myApp.submission.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (submission of submissions; track trackId(submission)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/submission', submission.id, 'view']">{{ submission.id }}</a>
              </td>
              <td>{{ submission.afm }}</td>
              <td>{{ submission.adt }}</td>
              <td>{{ submission.lastName }}</td>
              <td>{{ submission.firstName }}</td>
              <td>{{ submission.fatherName }}</td>
              <td>{{ submission.acquisitionDate | formatMediumDate }}</td>
              <td>{{ submission.lossDate | formatMediumDate }}</td>
              <td>{{ submission.organizationUnit }}</td>
              <td>{{ submission.newOrganizationUnit }}</td>
              <td>{{ submission.protocolNumber }}</td>
              <td>{{ submission.decisionDate | formatMediumDate }}</td>
              <td>{{ submission.previousSubmission }}</td>
              <td>
                @if (submission.position) {
                  <div>
                    <a [routerLink]="['/position', submission.position.id, 'view']">{{ submission.position.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (submission.grade) {
                  <div>
                    <a [routerLink]="['/grade', submission.grade.id, 'view']">{{ submission.grade.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (submission.committeeName) {
                  <div>
                    <a [routerLink]="['/committee', submission.committeeName.id, 'view']">{{ submission.committeeName.name }}</a>
                  </div>
                }
              </td>
              <td>
                {{ submission.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/submission', submission.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/submission', submission.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(submission)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
