<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (grade(); as gradeRef) {
      <div>
        <h2 data-cy="gradeDetailsHeading"><span jhiTranslate="myApp.grade.detail.title">Grade</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ gradeRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.grade.name">Name</span></dt>
          <dd>
            <span>{{ gradeRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/grade', gradeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
